@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@700&display=swap');
// Fuentes importadas
$font-family-roboto-serif: 'Roboto  ', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

//Colores
$color-primary: #1f4068;
$color-fontdark: #2374d6;
$bg-light: #ffffff;
$bg-dark: #000000;
$text-light: #ffffff;
$text-dark: #000000;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




.logo {
  max-width: 200px;
}
h1{
  font-family: $font-family-roboto-serif;
  font-weight: 900;
}
p{
  font-family: $font-family-open-sans;
  font-weight: 500;
}

.h1-light {
  color: $color-primary;
}

.p-light {
  color: $color-primary;
}

.bg-light {
  background-color: $bg-light !important;
}
.table-light {
  background-color: $bg-light;
  
}
.vh-100 {
  height: 100vh;

  @media (min-width: 768px) {
    height: calc(100vh - 80px);
  }
}

.dark-mode {
  background-color:$bg-dark;
  color: white;
}

.container-fluid {
  background-color: $bg-light;
  color: $text-dark;
}
.toggle-dark-mode {
  position: absolute;
  top: 20px;
  right: 20px;
}
.dark-mode .container-fluid {
  background-color: $bg-dark;
  color: $text-light;
}
.h1-dark {
  color: $color-fontdark;
}
.p-dark {
  color: $color-fontdark;
}
.table-dark {
  background-color: $bg-dark;
  color: white;
}
.table-container {
  max-height: 250px; /* ajusta el valor según sea necesario */
  overflow-y: auto;
}

